* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body>div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container>div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbow {
  background: linear-gradient(to right, #275db3, #ff8a00 50%, #ff0000 100%);
  color: white;
}

.red {
  background: radial-gradient(circle farthest-corner, #fb838d 0%, #ff5f6d 65%, #ff2c2c 100%);
  color: white;
}

.blue {
  background: linear-gradient(to right, #275db3, #0095ff 30%, #2600ff 80%);
  color: white;
}

.bisque {
  background: radial-gradient(ellipse at center, #ffef96 0%, #ff8a00 50%, #ff0000 100%);
  color: rgb(255, 255, 255);
}

.orangered {
  background: linear-gradient(75deg, #ff7e5f, #fb1d55);
  color: white;
}